<div id="right_column_flip">
    <h2>Aide</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Introduction", "/help/about" %></li>
        <li><%= link_to_unless_current "Soumettre une requête", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Vos données", "/help/privacy" %></li>
        <li><%= link_to_unless_current "Questions des responsables de l'accès", "/help/officers" %></li>
        <!-- TODO li><%= link_to_unless_current "About the software", "/help/alaveteli" %></li -->
        <li><%= link_to_unless_current "Alaveteli", "/help/credits" %></li>
        <li><%= link_to_unless_current "Interface de programmation", "/help/api" %></li>
        <!-- TODO li><%= link_to_unless_current "Help us", "/help/help_out" %></li>
        <li><%= link_to_unless_current "Advanced search", "/advancedsearch" %></li-->
    </ul>

    <h2 id="contact">Contact</h2>
    <p>Si vous avez des questions qui n'ont pas trouvé réponse dans la section d'aide ou que vous avez simplement une remarque concernant le site, n'hésitez pas à nous <a href="/help/contact">contacter</a>.
    </p>
</div>


