<% @title = "Introduction" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Présentation de <%= site_name %> <a href="#introduction">#</a> </h1> 

<dl>

<dt id="questce"><%= site_name %>: qu’est-ce que c’est? <a href="#questce">#</a> </dt>

<dd>
<p>Demande d'accès aux documents, demande d'accès à l'information, en anglais freedom of information request (FOI), access to information request (ATI): ces différents termes représentent le droit des citoyens d'obtenir les documents gouvernementaux non personnels et non confidentiels. Au Québec comme dans d'autres pays, une <a href="http://www.cai.gouv.qc.ca/liste-des-organismes-assujettis-et-des-responsables-de-lapplication-de-la-loi-sur-lacces/">Loi</a> encadre ce que les organisations gouvernementales doivent respecter en manière d'accès aux documents.


<p>Important: <%= site_name %> n'est <strong>pas</strong> un service gouvernemental. <%= site_name %> est exploité par <a href="http://nordouvert.ca">Nord Ouvert</a>, un organisme sans but lucratif et a été développé en lien avec des organismes gouvernements (voir <a href="#qui">ci-dessous</a>); les demandes passant par ce service ne bénéficieront pas d'un traitement particulier, dans un sens ou dans un autre.</p>

<p><%= site_name %> facilite ce processus d'accès aux documents gouvernementaux au Québec. Ce site aide les personnes, autant physiques que morales, souhaitant obtenir des documents détenus par des organismes publics. Pour l’heure, <%= site_name %> est en mode pilote et seul un nombre limités d'organismes gouvernementaux, listés ci-dessous, sont accessibles pour une demande d’accès aux documents.</p> 

<p>Organismes publics listés pendant le projet pilote:</p>
<ul>
	<li><a href="http://www.mtq.gouv.qc.ca/">Ministère des Transports du Québec</a>;</li>
	<li><a href="http://www.msss.gouv.qc.ca/">Ministère de la Santé et des Services Sociaux</a>;</li>
	<li><a href="http://www.mesrst.gouv.qc.ca/">Ministère de l'Enseignement supérieur, de la Recherche, de la Science et de la Technologie</a>;</li>
	<li><a href="http://www.mcc.gouv.qc.ca/">Ministère de la Culture et des Communications</a>;</li>
	<li><a href="http://www.mddefp.gouv.qc.ca/">Ministère du Développement durable, de l'Environnement, de la Faune et des Parcs</a>.</li>
</ul>

<p>Si ce projet pilote est concluant, nous souhaitons inclure l'<a href="http://www.cai.gouv.qc.ca/liste-des-organismes-assujettis-et-des-responsables-de-lapplication-de-la-loi-sur-lacces/">ensemble des organisations listées</a> par la Commission d’accès à l’information.</p> 
</dd>



<dt id="comment">Comment fonctionne le site? <a href="#comment">#</a> </dt>

<dd>
<p>Choisissez l’organisation publique détenant les documents que vous aimeriez obtenir, puis rédigez une brève note à l'attention du responsable de l'accès aux documents décrivant ce que vous voulez savoir. Nous envoyons alors votre requête, par courriel, à l’organisme en question. Toute réponse reçue est automatiquement publiée sur le site, pour le demandeur ainsi que pour tout autre internaute souhaitant la lire.</p> 

<p><%= site_name %> est inspirée de <a href="http://www.whatdotheyknow.com/">WhatDoTheyKnow</a>, un site britannique qui a fait transiter plus de 175 000 demandes depuis 2008, représentant 15% à 20% du volume traité par le gouvernement central du Royaume-Uni.</p> 
</dd>



<dt id="pourquoiutiliser">Pourquoi se donner la peine d’utiliser <%= site_name %>? <a href="#pourquoiutiliser">#</a> </dt>

<dd>
<p>Vous exercez votre droit de vote et payez des taxes. Vous avez le droit de savoir comment le gouvernement utilise votre argent, que ce soit pour les soins de santé ou l'entretien des routes.  Une plateforme telle que <%= site_name %> permet de mieux connaître les rouages du gouvernement. <%= site_name %> donne la chance aux citoyens de participer à l’action de la fonction du gouvernement en suggérant des améliorations et en célébrant les réussites de leurs institutions gouvernementales.</p> 
</dd>



<dt id="pourquoirepondre">Pourquoi les organisation gouvernementales se donnent-elles la peine de répondre? <a href="#pourquoirepondre">#</a> </dt>

<dd>
<p>Selon la <a href="http://www2.publicationsduquebec.gouv.qc.ca/dynamicSearch/telecharge.php?type=2&file=/A_2_1/A2_1.html">Loi sur l’accès aux documents des organismes publics et sur la protection des renseignements personnels</a>, elles doivent répondre. La réponse contiendra soit le document  demandé soit la raison pour laquelle le document ne peut être fourni.</p>

<p>Sachez qu’en cas de refus, de non-réponse ou de réponse incomplète, vous êtes en droit de faire une demande de révision devant la <a href="http://www.cai.gouv.qc.ca/">Commission d’accès à l’information</a>. Ce processus sort toutefois du cadre de fonctionnement de <%= site_name %>. </p> 
</dd>



<dt id="qui">Qui est derrière <%= site_name %>? <a href="#qui">#</a> </dt>

<dd>
<p><%= site_name %> a été créé par <a href="http://nordouvert.ca">Nord Ouvert</a>, un organisme sans but lucratif ayant pour mission de créer des outils technologiques afin d’améliorer la démocratie. Ce projet pilote a pu être mis sur pied grâce à l’appui financier de monsieur <a href="http://www.assnat.qc.ca/fr/deputes/drainville-bernard-209/index.html">Bernard Drainville</a>, député de Marie-Victorin et Ministre responsable des Institutions démocratiques et de la Participation citoyenne. Un processus d'échange et d'accompagnement est également en place avec les ministères figurant sur <%= site_name %>. Enfin <%= site_name %> n'est pas un site gouvernemental, mais l'initiative d'un organisme sans but lucratif. Le logiciel employé est <a href="http://www.alaveteli.org/">Alaveteli</a>, un logiciel libre qui a été développé pour la création du site WhatDoTheyKnow.</p> 
</dd>




<dt id="objectif">Quel est l’objectif du projet pilote? <a href="#objectif">#</a> </dt>

<dd>
<p>Le présent projet pilote, d’une durée de 6 mois vise à évaluer plusieurs éléments</p>
<ul>
	<li>L’intérêt de la population québécoise pour un tel outil. Au Royaume-Uni, WhatDoTheyKnow a eu un effet considérable sur les pratiques de demande d’accès à l’information. De nombreuses personnes l’utilisent autant pour soumettre des demandes que pour accéder aux données obtenues par d’autres. Un premier objectif est donc d’évaluer dans quelle mesure un tel outil rencontre également les aspirations des Québécois.</li>
	<li>L’adéquation avec le contexte québécois: Chaque loi d’accès à l’information a ses spécificités, chaque juridiction a ses habitudes en matière de traitement des demandes d’accès. Un des objectifs est donc de voir comment les organismes participant au pilote vont réagir à un modèle comme celui proposé par WhatDoTheyKnow. Le processus d'accompagnement mis en place avec les ministères concernés permettra d'avoir des commentaires détaillés à ce chapitre.</li>
	<li>Améliorer la loi régissant les demandes d’accès aux documents: En faisant fonctionner pendant 6 mois un tel projet, nous anticipons également soulever des points sur lesquels la Loi pourrait être améliorée pour faciliter le traitement des demandes notamment par le biais d’outils numériques. Cela permettrait d’ajouter des éléments aux consultations sur le processus de d’accès à l’information qui ont eu lieu en 2012-2013.</li>
</ul>
</dd>

</div>


