<% @title = "Questions des responsables de l'accès aux documents" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

<dt id="top">Je suis un responsable de l'accès aux documents et une demande d'accès contenait une référence vers ce site, pourquoi? <a href="#top">#</a> </dt>

<dd><p><%= site_name %> est un projet pilote mis en oeuvre par Nord Ouvert, organisme sans but non lucratif. <%= site_name %> aide les citoyens à faire des demandes d’accès aux documents ainsi qu'à suivre et partager le résultat de ces demandes.</p>

<p>La requête que vous avez reçu a été faite par un utilisateur de <%= site_name %>. Vous pouvez simplement répondre par courriel à la requête comme vous le feriez pour n’importe quelle requête provenant d’un individu. La seule différence est que votre réponse sera automatiquement rendue publique sur <%= site_name %>.</p> 

<p>Si vous avez des inquiétudes quant au caractère privé de certaines informations, prenez le temps de lire les réponses ci-dessous. Vous pouvez également lire l’<a href="/help/about">introduction</a> au fonctionnement de <%= site_name %> pour en savoir davantage à propos du site du point de vue des utilisateurs.</p>

<p>Finalement, nous apprécions les commentaires et suggestions de la part des fonctionnaires; n’hésitez donc pas à nous <a href="/help/contact">contacter</a>.</p>
</dd>



<dt id="reponses">Pourquoi publier des réponses à des demandes d’accès aux documents? <a href="#reponses">#</a> </dt>

<dd>

<p>Nous croyons qu’il y a de nombreux bénéfices. Principalement, cela encourage les citoyens à s’intéresser au travail du gouvernement. Nous espérons également que cela réduira le nombre de duplicata de requêtes reçues par les organismes publics. Considérant la <a href="http://www2.publicationsduquebec.gouv.qc.ca/dynamicSearch/telecharge.php?type=2&file=/A_2_1/A2_1.html">Loi sur l’accès aux documents des organismes publics et sur la protection des renseignements personnels</a> et le fait que cette information puisse être publique et intéresser d'autres personnes, nous croyons qu’il n’y a pas de raison de ne pas la publier en ligne. </p>
</dd>


<dt id="automaton">Les individus effectuant de telles requêtes sont-ils des personnes, et non des systèmes automatisés? <a href="#automaton">#</a> </dt>

<dd><p>Oui. Afin que nous puissions retracer les réponses, nous utilisons un système de courriel pour chaque requête. Par contre, avant de pouvoir formuler une requête, les utilisateurs doivent s’enregistrer sur le site avec une adresse courriel unique que nous vérifions.</p>
</dd>



<dt id="email_only">Je peux voir une requête sur <%= site_name %>, mais n’avons jamais reçu cette requête par courriel. <a href="#email_only">#</a> </dt>

<dd>
<p>Si une requête apparaît sur le site, c’est que nous avons tenté de l’envoyer à l’organisme gouvernemental par courriel. Tout message indiquant une erreur ou un avis de non-réception sera affiché sur le site. Vous pouvez vérifier l’adresse que nous utilisons avec le lien « Voir l’adresse courriel de la demande » qui apparaît sur la page pour l’organisation en question. <a href="/help/contact">Contactez-nous</a> s’il existe une meilleure adresse à utiliser. L'adresse courriel que nous utilisons est celle <a href="http://www.cai.gouv.qc.ca/liste-des-organismes-assujettis-et-des-responsables-de-lapplication-de-la-loi-sur-lacces/">fournie</a> par la Commission d'accès à l'information du Québec</p>

<p>Les requêtes ne sont parfois pas reçues parce qu’elles sont envoyées dans le courrier indésirable par le département informatique. Cela peut être évité en demandant aux responsables des services informatiques d’approuver les courriels provenant de <code>@jeveuxsavoir.com</code>. Si vous nous le demandez, nous pourrons redéclencher l'envoi du courriel initial et/ou vous donnez davantage de détails si les services informatiques souhaitent vérifier ce qui est arrivé au message.</p>

<p>Finalement, vous pouvez répondre à toute requête à partir de votre fureteur, sans avoir besoin de courriel, en utilisant le lien « répondre à la requête », en bas de chaque page de requête.</p>
</dd>




<!--dt id="date_limite">Comment les dates limites affichées sur les pages de requête sont-elles calculées? <a href="#date_limite">#</a> </dt>

<dd>
<p>Selon l’article 47 de la Loi sur l’accès aux documents des organismes publics, le « responsable doit, avec diligence et au plus tard dans les vingt jours qui suivent la date de la réception d’une demande, » répondre à cette demande.</p>
<p>La Commission d'accès à l'information interprète le délai du 20 jours comme étant un délai en jours calendaires. 
S’il y a de bonnes raisons pour lesquelles la demande ne peut être traitée dans le délai prévu par la loi, il est très utile pour les demandeurs de recevoir un court courriel leur expliquant la situation.</p>
<p>Les agents d’accès à l’information travaillent très fort pour répondre aux requêtes, et ce processus est méconnu du public. Nous croyons que cela serait bénéfique pour tous si la complexité du processus était rendue plus transparente.</p>

</dd-->

<!--dt id="fichier">Comment faire parvenir un fichier trop volumineux pour être envoyé par courriel? <a href="#fichier">#</a> </dt>

<dd><p>Plutôt que de répondre par courriel, vous pouvez répondre directement à partir de votre fureteur, incluant le téléchargement d’un fichier. Pour faire cela, choisissez de « répondre à la requête » en bas de la page de requête. Contactez-nous si le fichier est trop volumineux (au-delà de 50Mb).
</p></dd-->

<dt id="names">Pourquoi publiez vous le nom des fonctionnaires et le texte de leur courriel? <a href="#names">#</a> </dt>

<dd><p>La loi prévoit que le nom, le titre et la fonction d'un membre de la direction ou d'un membre du personnel d'un organisme public sont des renseignements personnels à caractère public. </p>
</dd>



<dt id="mobiles">Publiez-vous les adresses courriel et numéros de téléphone? <a href="#mobiles">#</a> </dt>

<dd><p>Pour éviter la circulation de courriels indésirables, nous utilisons un système qui détecte et cache du public les adresses courriel et certains numéros de téléphone apparaissant dans le corps des courriels échangés. Le destinateur du message (demandeur ou responsable de l'accès aux documents) pourront voir les adresses courriels et numéros de téléphone en question. Pour des raisons techniques, nous ne les retirons pas des pièces jointes.</p>
</dd>

</dl>

<p><strong>Si ce n'est pas encore fait</strong>, n'hésitez pas à lire la <a href="/help/about">présentation de <%= site_name %></a>.

<div id="hash_link_padding"></div>


</div>
