<% @title = "Protection des renseignements personnels" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="courriel">Qui peut voir mon adresse courriel? <a href="#courriel">#</a> </dt>

<dd>
<p>Pendant la période du projet pilote, les organismes gouvernementaux auxquels les demandes seront envoyées obtiendront une copie de l'adresse courriel du demandeur.</p>
<p>Si vous envoyez un message à d’autres utilisateurs du site, cela leur révélera alors votre adresse courriel. Vous serez averti lorsque cela se produit.</p>
<p>Personne d'autre n'aura accès à votre adresse courriel et à vos informations personnelles.</p> 
<p>Pour plus d'informations sur l'utilisation que nous faisons de vos informations personnelles, référez-vous aux <a href="/help/conditions">conditions d'utilisation</a></p>
</dd>



<dt id="pourriel">Recevrai-je du courrier indésirable sur mon adresse courriel? <a href="#pourriel">#</a> </dt>
<dd><p>Non. Après votre inscription à <%= site_name %>, nous vous enverrons seulement des courriels liés à une requête que vous avez faite, une alerte à laquelle vous vous êtes inscrit, ou pour toute autre raison spécifiquement autorisée par vous. Nous ne donnerons ou ne vendrons jamais votre adresse à quiconque, à l'exception des organismes gouvernementaux à qui votre demande sera envoyée, et ce, uniquement pendant la période du projet pilote.</p>
</dd>




<dt id="public">Est-ce que mon nom et mes requêtes apparaîtront publiquement sur le site? <a href="#public">#</a> </dt>

<dd>
<p>Oui! Nous publions vos requêtes sur Internet pour que tous les demandeurs puissent les lire et utiliser l’information que vous avez trouvée. Nous n’effaçons pas les requêtes ou leurs réponses.</p>
<p>Votre nom est lié à votre demande; il doit donc être publié également. Il est ici question d’équité, puisque nous publierons le nom du responsable de l'accès aux documents qui rédigera la décision à votre requête. Utiliser votre vrai nom aide également à vous mettre en contact avec des gens qui souhaiteraient vous assister pour votre recherche ou votre campagne.
</p>
</dd>



<dt id="nom">Puis-je soumettre une demande d’accès en empruntant un pseudonyme? <a href="#nom">#</a> </dt>


<dd>
<p>Bien que la loi ne vous oblige pas à utiliser votre véritable nom, il s’agit d’une bonne pratique à adopter dans un contexte où l’on souhaite augmenter la transparence. De plus, si votre demande est refusée, vous devrez vraisemblablement faire une demande de révision ou interjeter appel; avoir utilisé un pseudonyme risque de poser problème lors de ces procédures.</p>
<p>Il y a d’autres solutions si vous ne souhaitez pas soumettre votre nom complet.</p>
<ul>
	<li>Utilisez votre nom sous une différente forme. Si votre nom est Michel Tremblay, vous pourriez soumettre une demande sous le nom M. Tremblay;</li>
	<li>Dans la plupart des cas, vous pouvez soumettre une demande en utilisant le nom le plus souvent utilisé, sans que celui-ci soit votre nom officiel;</li>
	<li>Utilisez le nom d’une organisation, d’une compagnie, etc. (Attention: le demandeur qui utilise le nom d'une compagnie pour faire une demande d'accès aux documents pourrait être obligé d'être représenté par un avocat s'il fait une demande de révision devant la Commission d'accès à l'information);</li>
	<li>Demandez à quelqu’un de soumettre la demande pour vous.</li>
</ul>
<p>En tout état de cause, veuillez ne pas adopter l’identité de quelqu’un d’autre.</p>

</dd>



<dt id="adresse">N’est-il pas nécessaire de fournir une adresse postale afin de recevoir une copie imprimée de la réponse? <a href="#adresse">#</a> </dt>

<dd>
<p>Dans la mesure du possible, demandez à ce que la réponse vous soit fournie par courrier électronique. C’est de cette manière que les documents fournis en réponse à votre demande deviendront accessibles à tous. Si votre interlocuteur vous répond, par exemple, qu'il est seulement possible de soumettre une réponse imprimée, <strong>insistez</strong> pour qu’ils scannent les documents.</p>

<p>Pour les documents trop volumineux pour le courriel, l'organisme public peut nous <a href="/help/contact">contacter</a> et nous lui indiquerons un moyen pour téléverser son fichier directement sur le site</p>

</dd>

<dt id="adressebis">L'organisme public insiste vraiment pour m'envoyer un document par la poste <a href="#adresse">#</a> </dt>

<dd>
<p>Dans certains cas, les documents sont trop volumineux pour être téléversés sur le site ou en trop grand nombre pour être scannés. Dans ce cas, <%= site_name %> vous permettra d'envoyer vos coordonnées postales au responsable de l'accès aux documents: après avoir reçu un nouveau message de l'organisme public, <%= site_name %> vous demandera le statut de la demande. Parmi les choix, vous pouvez signifier que la réponse se fera par la poste. Si vous cliquez sur cette option, le site vous guidera pour transmettre de l'information à l'organisme public sans que cette dernière ne soit visible du public.</p>

</dd>

<dt id="cookies">Qu’en est-il des fichiers témoins? <a href="#cookies">#</a> </dt>

<dd>
<%= site_name %> utilise des fichiers témoins (connus sous le nom de cookies) contenant des données permettant à l’application de vous reconnaître lorsque vous naviguez sur le site. Ces fichiers témoins ne contiennent aucune information personnelle et sont de deux types:
 
<ul> 
	<li>Fichier témoin volatile: Ces fichiers sont nécessaires au fonctionnement de l’application <%= site_name %> pour vous reconnaitre lorsque vous passez d’une page à une autre ou pour mémoriser certains éléments de contexte. Les témoins volatiles disparaissent lorsque vous quittez la session <%= site_name %> ou que vous fermez votre navigateur web.</li>
	<li>Fichier témoin persistant: Ces fichiers sont sauvegardé sur votre disque dur lorsque vous éteignez votre navigateur et peuvent perdurer jusqu’à un mois après votre dernière visite. Il s’agit principalement:
		<ul>
		<li>Du fichier témoin de session qui permet à l’application de voir que vous êtes un utilisateur enregistré dans l’application. Ce témoin a une durée de vie d’un mois si vous cliquez l’option “Se rappeler du mot de passe” lorsque vous vous connectez. Sinon ce témoin est supprimé à la fermeture de votre navigateur</li>
		<li>Fichier témoin de consultation des notifications: Ce témoin permet à l’application de savoir si une notification a été consultée et de moduler l’affichage en fonction. Ce témoin a une durée de vie de 7 jours.</li>
		</ul>
	</li>
</ul>
</dd>

<dt id="suppression">Pouvez-vous effacer mes requêtes ou modifier mon nom? <a href="#suppression">#</a> </dt>

<dd>

<p><%= site_name %> est un système d’archivage permanent et public des requêtes d’accès aux documents. Bien que vous puissiez juger que la réponse à une requête n’est plus utile après un moment, elle pourrait être utile à d’autres. Pour cette raison, nous n’effaçons pas les requêtes.
Nous pouvons retirer ou changer votre nom sur le site internet (voir la question suivante). Dans le même ordre d’idée, nous pouvons aussi effacer d’autres informations personnelles.</p>
<p>Si vous êtes préoccupé par de telles possibilités avant de faire votre requête, consultez la section sur l’utilisation d’un <a href="#nom">pseudonyme.</a></p>

</dd>

<dt id="takedown">Pouvez-vous retirer certaines de mes informations personnelles? <a href="#takedown">#</a> </dt>

<dd>

<p>Si vous voyez certaines de vos informations personnelles sur le site que vous souhaitez cacher ou retirer, faites-le nous savoir. Spécifiez exactement quelle information pose problème, la raison et l’emplacement sur le site.</p>
S’il s’agit d’une information personnelle confidentielle postée accidentellement, nous la retirerons. Normalement, nous ne considérons les requêtes de retrait d’information que lorsqu’elles proviennent de l’individu concerné. Cependant, nous apprécierions dans les cas d’information jugée confidentielle, que toute incongruité nous soit signalée.</p> 
<p>Nous considérons qu’il est dans l’intérêt du public de publier les noms des responsables d'organismes publics. Nous ne retirerons ces noms que sous des circonstances exceptionnelles, comme la possibilité que le dévoilement d’un nom pose un risque significatif à la sécurité de l’individu en question. Si vous êtes dans une telle situation et que vous souhaitez voir votre nom retiré, vous devez nous faire parvenir une requête de la part de votre superviseur.</p>
<p>Pour toute autre requête, nous appliquons une évaluation d’intérêt public pour décider si l’information devrait être retirée. Nous ne pouvons pas réellement modifier plusieurs types de pièces jointes (tels que des fichiers PDF, Microsoft Word ou Excel); nous demanderons alors que l’organisme nous expédie les documents en question une seconde fois, avec l’information personnelle retirée.  </p>
</dd>


</dl>

<div id="hash_link_padding"></div>


</div>
