<% @title = "Faire une demande d'accès" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>


<dt id="demande_perso">Puis-je demander de l’information à propos de moi-même? <a href="#demande_perso">#</a> </dt>

<dd>
<p><strong></strong>Non</strong>. Les requêtes de <%= site_name %> sont publiques, faites selon la Loi sur l’accès aux documents des organismes publics, et ne doivent pas vous aider à trouver de l’information à propos d’un particulier, y compris vous même.</p>
<p>Si vous souhaitez connaîre le type d’information qu'un organisme public possède à propos de vous, vous devriez faire une demande d’accès l’information directement auprès de organisme concerné. Vous pouvez visiter le site de la <a href="http://www.cai.gouv.qc.ca/">Commission d’accès à l’information</a> qui pourra vous guider dans votre démarche.</p>
<p>Si vous réalisez que quelqu’un a inclus de l’information personnelle, possiblement par erreur, dans une requête, <a href="/help/contact">contactez-nous</a> immédiatement afin que nous puissions la retirer.</p>
</dd>



<dt id="quelle_autorite">Je cherche un document mais je ne sais pas quel organisme public le détient, comment puis-je le savoir? <a href="#quelle_autorite">#</a> </dt>

<dd>
<p>Il peut être difficile de démêler les différents palliers et structures du gouvernement, et comprendre qui a l’information que vous recherchez. Voici quelques trucs:</p>
<ul>
    <li>Furetez ou effectuez une recherche sur <%= site_name %> pour voir si des requêtes similaires ont été faites.</li>
    <li>Quand vous avez trouvé un organisme qui pourrait détenir l’information recherchée, utilisez le bouton ‘site web’ du côté droit de leur page et vérifiez leurs activités.  </li>   
    <li>Contactez l'organisme en question par téléphone ou par courriel pour leur demander si elle possède le type d’information que vous cherchez. Habituellement, un contact préalable vous  aussi de faire une demande plus ciblée.</li>
    <li>Ne vous inquiétez pas si vous ne trouvez pas le bon organisme du premier coup; ceux que vous contacterez sauront vous rediriger pour votre deuxième recherche.</li>
</ul>
<p>En tout état de cause, <%= site_name %> ne couvre qu'un nombre limité d'organismes publics pour la période de projet pilote (voir la <a href="/body/list/all">liste</a>).</p>

</dd>



<dt id="focused">Pourquoi ma demande doit-elle être ciblée et concise? <a href="#focused">#</a> </dt>

<dd>

<p>La loi s’applique à une demande de <strong>document</strong>. Votre requêtre doit donc prendre la forme d’une demande pour un document ou pour une information précise possiblement détenu dans un document ou dans un système informatique.</p>

<p>Si vous n’êtes pas certain de ce qui est en possession de l’organisation en question, n’hésitez pas à appeler le département ou le responsable de l'accès aux documents de l’organisation et questionnez-là sur l’information existante. Vous pourrez ensuite envoyer une demande d’accès en bonne et due forme spécifiant exactement ce que vous demandez. Une demande précise facilite le travail des responsables d'accès aux documents et accélérera le processus.</p>
<p>Merci de n’inclure aucun des éléments suivants:</p>
<ul>
    <li>arguments en faveur de votre cause;</li>
    <li>affirmations diffamatoires ou insultes;</li>
    <li>demandes de commentaire plutôt que des documents.</li>
</ul>

<p>Si vous incluez de tels éléments, notamment des propos diffamatoires ou offensants, nous pourrions avoir à retirer votre requête afin d’éviter des problèmes légaux, ce qui ne vous servira pas et entraînera des problèmes de notre côté également.</p>

<p>Le site n’héberge que des demandes d’accès, et non des correspondances générales avec les organismes publics. Si vous formulez votre requête sous forme de question ouverte ou de demande de commentaire (par exemple, « Pourquoi faites-vous X? » ou «Veuillez expliquer vos raisons derrière la décision Y?») vous risquez de voir votre demande rejetée. Demander des « les documents de politique interne relatifs à X» correspond à un modèle de requête valide.</p>

<p>Des messages courts et directs clarifieront votre requête et permettront aux responsable d'accès aux documents de repérer l’information que vous rechercher, réduisant ainsi le temps d’attente.</p>

</dd>

<dt id="fees">Y a-t-il un coût lié à la requête? <a href="#fees">#</a> </dt>

<dd>

<p><strong>Envoyer une requête d’accès aux documents est gratuit</strong>. Contrairement à d'autres juridictions, le fait d'envoyer une demande d'accès n'implique pas de frais.</p>

<p>Dans certains cas, les organismes gouvernementaux peuvent être amené à demander des frais pour l'extraction ou la diffusion du documents (example: graver un DVD, etc.) Les frais en question sont réglementés et le responsable de l'accès aux documents devra vous notifier de ces frais à l'avance.</p>
<p>Si une information s'avère coûteuse, il peut être judicieux de raffiner l’étendue de la requête. Par exemple, vous pourriez demander les documents pour la dernière année plutôt que pour les dix dernières années.
</p>

</dd>

<dt id="quickly_response">Obtiendrai-je une réponse rapidement? <a href="#quickly_response">#</a> </dt>

<dd>
<p>Selon la loi, les organismes publics doivent répondre promptement aux requêtes.
La Loi spécifie qu'ils doivent répondre au maximum dans un délai de 20 jours calendaires avec une période d’extention possible de 10 jours.</p>
<p><%= site_name %> vous enverra un courriel si vous ne recevez pas une réponse dans le délai de prescrit. Vous pourrez alors envoyer à l'organisation en question un message pour rappeler votre requête et signaler qu’ils sont en retard.</p>

</dd>

<dt id="no_response">Et si je n’obtiens aucune réponse? <a href="#no_response">#</a> </dt>

<dd>
<p>Il y a plusieurs choses que vous pouvez faire si vous ne recevez pas de réponse.</p>
<ul>
    <li>Parfois, il y a un réel problème et l'organisme ciblé n’a jamais reçu la requête. Il est alors utile de téléphoner à l'organisme en question et simplement demander si la demande a été reçue.</li>
    <li>S’ils ne l’ont pas reçue, il se peut qu'un problème technique soit en cause. Dans un tel cas, vous pouvez nous <a href="/help/contact">contacter</a> pour que nous investiguions le problème.</li>
</ul>

<p>Si la demande a été reçue mais que malgré tout l'organisation ne répond pas, sachez qu'une demande non répondue revient, selon la loi, à un refus. Dans un tel cas, vous pouvez vous en référer à la section suivante.</p>

</dd>

<dt id="not_satifised">Que faire si je suis insatisfait de la réponse reçue?
 <a href="#not_satifised">#</a> </dt>
<dd>
<p>Si vous n’avez pas obtenu de réponse malgré vos vérifications (non réponse), si votre demande a été rejetée ou que les données fournies sont incomplètes, en vertu de l'artile 135 de la Loi sur l’accès aux documents des organismes publics et sur la protection des renseignements personnels, vous pouvez soumettre une <a href=""></a>demande de révision auprès la <a href="http://www.cai.gouv.qc.ca/">Commission d’accès à l’information du Québec</a>. Habituellement, la réponse de l'organisme public incluera un document expliquant également ce recours.</p>
<p>Sachez enfin que les recours sortent de ce qui peut être traité dans le cadre de <%= site_name %>.</p>

</dd>

<dt id="reuse">Qu'en est-il de la propriété intellectuelle de documents fournis?<a href="#reuse">#</a> </dt>
<dd>
<p>Les organismes publics indiquent parfois des mentions légales quant à ce que vous pouvez faire de l’information.</p>
<p>Vous pouvez, bien sûr, écrire des articles en utilisant l’information reçue ou même en citer une partie. Pour plus d’information, veuillez vous référer à la <a href="http://www.droitauteur.gouv.qc.ca/copyright.php">politique du droit d’auteur gouvernemental</a>.
</p>

</dd>




<dt id="private_requests">J’aimerais garder ma requête secrète...du moins jusqu’à ce que je publie un article!<a href="#private_requests">#</a> </dt>

<dd><p><%= site_name %> est utilisé uniquement pour les requêtes publiques. Toutes les réponses reçues sont publiées automatiquement sur le site afin que quiconque puisse les lire.
Vous devriez contacter l'organisme public directement si vous souhaitez faire une requête privée.</p>
</dd>


<dt id="multiple">Puis-je faire la même requête à plusieurs organismes à la fois? <a href="#multiple">#</a> </dt>

<dd>
  <p>Dans certains cas, il peut être nécessaire de demander le même document à plusieurs organismes, par exemple certaines politiques internes qui peuvent différer d'une organisation à une autre. Nous vous demandons d’envoyer votre requête à une seule organisation dans un premier temps pour valider que votre demande est claire et sera répondue positivement. Les commentaires de cette organisation vous permettrons aussi d'améliorer votre demande afin que vous puissiez obtenir la meilleure information possible lorsque vous enverrez votre requête à toutes les organisations. Il n’y a actuellement aucun système automatisé pour envoyer les requêtes aux autres organisations; vous devrez les copier/coller manuellement.</p>
</dd>

<dt id="offsite">J’ai fait une requête en dehors du site, comment puis-je l’ajouter aux archives? <a href="#offsite">#</a> </dt>

<dd><p><%= site_name %> est une archive des requêtes faites à travers le site, et non une archive de <em>toutes</em> les requêtes. Nous ne souhaitons pas ajouter d’autres requêtes. En effet, il serait impossible de vérifier que les réponses proviennent de l'organisme en question.</p>
</dd>

<dt id="moderation">Comment modérez-vous les annotations aux requêtes? <a href="#moderation">#</a> </dt>

<dd> 
<p>Les annotations sur <%= site_name %> sont utilisées pour aider les gens à obtenir l’information qu’ils veulent, ou pour donner des indications afin de les diriger vers les ressources dont ils auront besoin. Nous nous gardons le droit de retirer toute autre annotation.<p>
<p>Finalement, les discussions de nature politique ne sont pas autorisées.</p>
<dd>

</dl>

<p><strong>Ensuite</strong>, nous vons invitons à lire la section sur la <a href="/help/privacy">confidentialité des données privées</a> </p>

<div id="hash_link_padding"></div>

</div>
